{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block body %}
    {{parent()}}
{% if app.user.baneado == 0 %}    
    <div class="container h-100 ">
        <div class="row justify-content-left">
        {% for galeria in pagination %}
                <div class="col-lg-6 ">
                    <div class="bg-white rounded p-3 my-3 " >
                        <div class="d-flex bd-highlight">
                            <div class=" flex-grow-1 bd-highlight" style="text-align:center">                                
                                <h1  >{{galeria.title}}</h1><br> 
                                <a href="{{ asset('uploads/photos/'~galeria.image)}}" data-lightbox="image-1" data-title="{{galeria.title}}"><img   src="{{ asset('uploads/photos/'~galeria.image)}}" width="200px" height="150px"></a>
                                <h5> {{galeria.description}}</h5>
                                <h4>Autor: {{galeria.nombre}}</h4><br>                                        
                                <a class="btn btn-success" onclick="window.location.href='{{ path('perfilUser',{id:galeria.id,nombre:galeria.nombre})}}'" >Perfil del Autor</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}                
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>  
{% endif %}
{% endblock %}